body {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  font-family: 'Goblin One', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #fff; }

h2 {
  font-size: 40px;
  margin-top: 70px;
  padding: 140px; }

.img-container {
  position: relative;
  top: -70px;
  left: 0; }

.sauce {
  position: relative;
  top: 0;
  left: 0; }

.wing {
  position: absolute;
  top: 0;
  left: 360px; }

.btn.btn-primary {
  font-family: sans-serif; }
