body {
	background: url('../images/wingbackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
  position: absolute;
	font-family: 'Goblin One', sans-serif;
	font-weight: bold;
	font-size: 200px;
}

h2 {
	margin-top: 50px;
	padding: 140px;
}

.img-container {
	position: relative;
	top: 0;
	left: 0;
}

 .sauce{
	position: relative;
	top: 0;
	left: 0;
}

 .wing {
	position: absolute;
	top: 0;
	left:0;
	}

.btn.btn-primary{
 font-family: sans-serif;
}
